<aside id="left">
	<%= render :partial => "./shared/aside_left" %>
</aside>
<section>
	<%= render :partial => "./shared/section" %>
</section>

<aside id="right">
	<%= render :partial => "./shared/aside_left" %>
</aside>