<div id = "blSign_in">

  <h1>Забули пароль?</h1>
  
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    
    <div id = "blEmail">
      <%= f.input :email, :autofocus => true, placeholder: "Email", label: "<i id = \"icon_email\" class=\"fa fa-envelope-o fa-fw\"></i>".html_safe %>
    </div>

    <div id="other_links">
      <%= render "devise/shared/links" %>
    </div>

    <div id = "bl_submit">
      <%= f.submit "Надіслати іструкцію?" %>
    </div>
  
  <% end %>

</div>