<% @articles_last.each do |a| %>
	<div class = "sc_news">
		<% category_link = a.category.category_link %>
		<%= link_to image_tag(a.main_image), category_article_path(category_link, a.article_link) %>
		<%= link_to a.tittle, category_article_path(category_link, a.article_link) %>
	</div>
<%end%>