// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
#main_content #edit_article > label, #main_content #new_article > label
{
	display: block;
	margin: 20px 0 5px 0;
	font: 18px Times;
}

#article_category_ids{
	visibility: hidden;
}

#article_subcategory_ids{
	height: 210px;
}

#main_content #edit_article #mceu_39
{
	margin-bottom: 10px;
}

form fieldset:first-of-type ol > li label{
	visibility: hidden;
	position: absolute;
}

form fieldset:first-of-type > ol > li p{
	text-align: left;
}

form fieldset:first-of-type > ol > li p.inline-hints{
	margin-left: 0px;
}

form fieldset:last-of-type > ol{
	padding: 10px;
}

#main_content #edit_article, #main_content #new_article{
	margin-top: -10px;
}

#edit_article button, #new_article button{
	margin-top: 10px;
}

#article_article_images_article_imgs{
	display: block;
	margin-bottom: 10px;
}

#main_content .inputs ol > img{
	display: inline-block;
	max-height: 120px;
	margin-bottom: 10px;
}

#main_content #edit_article, #main_content #new_article{
	width: 800px;
	margin: 0 auto;
}

.tinymce{
	font-size: 14px !important;
}

body.mce-content-body {
    font-size: 14px;
}

#edit_article select{
	background: #F0F0F0;
}

.bbc_news{
	outline: 1px solid #ccc;
	margin-bottom: 5px;
	cursor: pointer;

	.bbc_title{
		p{
			font: Bold 14px Times;
		}
	}
	.bbc_desc{
		p{
			font: 12px Times;
		}
	}
}

#edit_user{

	.user_lv_blocks
	{
		margin: 10px 0 10px 0;
		.user_label{
			font: 14px Times;
			position: absolute;
		}
		.user_value{
			font: 14px Times;
			margin-left: 150px;
			// float: left;
		}
	}
}