@import "_variables.scss";

main{
	padding: 0;
	margin-top: 10px;
	
		background-color: $white;
	aside{
		vertical-align: top;
		display: inline-block;
		height: auto;
		width: 17%;
	}

	aside#left{
		margin: 0px 0.75% 10px 1.5%;
	}

	aside#right{
		margin: 0px 1.5% 10px 0.75%;
	}

	aside{
		.sc_news{
			width: 100%;
			margin: 10px 0 10px 0;
			img{
				max-width: 100%;
			}
		}
	}

	section{
		display: inline-block;
		margin: 0px 0.25% 10px 0.25%;
		background-color: #fff;
		width: 60%;
		vertical-align: top;

		#slider_main_images{
			position: relative;
			height: 250px;
			overflow: hidden;
			border-bottom: 3px solid orange;
			margin-bottom: 25px;
			.main_images{
				.main_image{
					height: 350px;
					width: 360px; 
					margin: 0 auto;
					padding: 0;
					text-align: center;
					overflow: hidden;
					p.pimg{
						width: 360px;
						height: 200px;
						img{
							max-width: 360px;
							max-height: 200px;
						}
					}
					p.ptittle{
						overflow: hidden;
						padding: 5px 20px 5px 20px;
						height: 45px;
						a{
							color: #021E33;
							font: 18px Times;
							text-decoration: none;
							&:hover{
								text-decoration: underline;
							}
						}
					}
				}
			}

			#main_image_back, #main_image_next{
				position: absolute;
				width: 50px;
				height: 50px;
				top: 100px;
				cursor: pointer;
			}
			#main_image_back{
				left:30px;
				background-image: url(application/slider_previous.png);
				&:hover{
					background-image: url(application/slider_previous_hover.png);
				}
			}
			#main_image_next{
				right:30px;
				background-image: url(application/slider_next.png);
				&:hover{
					background-image: url(application/slider_next_hover.png);
				}
			}
		}

		#block_articles{
			table{
				tr{
					line-height: 2;
					td.data_times{
						padding: 0 2px 0 2px;
						color: brown;
						position: relative;
						width: 40px;
						.times{
							font: 12px Arial;
							text-align: center;
							position: absolute;
							top: 8px;
							left: 2px;
						}
						.data{
							text-align: center;
							font: 8px Arial;
							position: absolute;
							top: 22px;
							left: 5px;
							// float: left;
						}
					}
					td.article_name{
						a{
							font: 16px Times;
							text-decoration: none;
							color: #000;
							&:hover{
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
		#nPage{
			width: 100%;
			text-align: $center;
			margin: 40px auto;
			margin-bottom: 10px;

			.pagination
			{
				padding: 1px;
				// outline: 1px solid #ccc;
				span
				{	
					// margin-right: -2px;

					
					a
					{
						outline: 1px solid #216D9C;
						padding-top: 2px;
						padding-bottom: 2px;
						font: Bold 18px Garamond, sans-serif;
						text-decoration: none;
						background-color: $white;
						padding-right: 10px;
						padding-left: 10px;
						color: #216D9C;

					}
				}

				span.first, span.last{
					a{
						outline: 1px solid #7F7F7F;
						background-color: #7F7F7F;
						color: #ccc;
					}
				}

				.page.current
				{
					margin-right: 4px;
					padding: 2px 4px 2px 8px;
					outline: 1px solid #216D9C;
					font: Bold 18px Garamond, sans-serif;
					background-color: #216D9C;
					color: $white;
				}
			}
		}
	}
}