@import "_variables.scss";
@import "font-awesome";
/*
 *= require font-awesome
 */

#blSign_in, #blSign_up, #blAcc_edit
{
	width: 60%;
	border-left: 1px dotted #074165;
	border-right: 1px dotted #074165;
	margin: 15px auto;
	padding: 10px;

	h1
	{
		width: 95%;
		color: #012B44;
		font: Bold 22px Times New Roman;
		padding: 5px 10px 25px 10px;
		text-align: $center;
		margin: $margin_auto;
	}

	#blEmail, .blPass
	{
		position: relative;
		height: 35px;
		padding: 10px;
		margin: $margin_auto;
		text-align: $center;
		width: 95%;

		label
		{
			abbr{
				position: absolute;
				color: red;
			}

			i{
				margin-top: 8px;
			}
		}

		input
		{
			padding-left: 10px;
			padding-right: 10px;
			border-radius: 3px;
			border: 1px solid #3EACE9;
			height: 30px;
			width: 50%;
			box-shadow: 0 0 30px #3EACE9 inset;
		}
		span.error{
			left: 80%;
			max-width: 20%;
			right: 1%;
			position: absolute;
			color: red;
			font: 12px Times;
		}
	}

	#blremember_me2, #blremember_me3
	{
		width: 95%;
		font: 14px Tahoma;
		margin: $margin_auto;
		padding: 10px;
		text-align: center;
	}

	#other_links{
		width: 95%;
		padding: 10px;
		margin: $margin_auto;
		text-align: center;
		a{
			font: Italic 14px Times;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}

	#bl_submit{
		margin: 25px auto;
		width: 95%;
		padding: 10px;
		text-align: center;
		a{
		  font: 16px Times;
		  color: #000;
		  text-decoration: none;
		  padding: 5px 10px 5px 10px;
		  outline: none;
		  border: 1px solid rgba(30,100,150,1);
		  border-radius: 3px;
		  background: rgb(170,220,245) linear-gradient(rgb(170,220,245), rgb(60,150,200));

		}
		a:hover{
			background: rgb(60,150,200) linear-gradient(rgb(60,150,200), rgb(170,220,245));
		}
		a:active {
		  box-shadow:
		   inset 0 1px 3px rgba(0,10,20,.5),
		   0 1px rgb(83,94,104),
		   0 0 1px rgb(86,96,106);
		}
	}
}

#error_explanation {
	display: none;
}

#blAcc_edit{
	#form_acc_edit{
		padding: 10px;
		margin: $margin_auto;
		width: 95%;
		input[name="acc_edit"]{
			margin-left: 35%;
		}
	}

	.bl_checked{
		margin: $margin_auto;
		width: 95%;
		padding: 10px;

		h3{
			border-top: 2px dotted orange;
		}

		h3, form.button_to{
			text-align: center;
			padding: 10px 0 10px 0;
		}

		.blPass{
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}
	}

	#other_links{
		border-top: 2px dotted orange;
	}
}