#management_account{

	background-color: #EEEEEE;
	padding: 5px 0 5px 0;
	margin-left: 1%;
	width: 20%;
	float: left;

	#ma_item_name{
		margin: 5px 5px 10px 5px;
		color: #333333;
	}
	ul{
		margin-left: 5px;
		margin-right: 5px;
		.ma_item_menu{
			margin: 2px 0 2px 0;
		}
		.ma_subitem_menu{
			margin-left: 8px;
		}
		li{
			a{
				color: #001F34;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}